
.card{
    height: 20rem;
    padding: 5px;
    margin-bottom: 5px;
   
}

.Image {
    height: 18rem;
    box-shadow: 0 8px 20px -6px #615151;
   
}

.cardImage:hover{
    box-shadow: 0px 8px  rgba(252, 1, 1, 0.20);  
}
/* .card:hover{
    box-shadow: 0px 8px  rgba(252, 1, 1, 0.20);  
} */

/* .shadow-box-example {
   
    background-color: #64b5f6;
  } */