
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
.card{
    height: 20rem;
    padding: 5px;
    margin-bottom: 20px;
    border: 0px;
   
}

.Image {
    height: 100%
}

  .card:hover{
    box-shadow: 0 8px 20px -10px #615151;
  }

  .title{
      margin: 5px;
      color: white;
      font-size: 0.5rem;  
      font-family: 'Open Sans', sans-serif;
  }

  .name{
      font-size: 1.;
      font-family: 'Open Sans', sans-serif;
  }