
.card{
    height: 20rem;
    padding: 5px;
    margin-bottom: 20px;
   
}

.Image {
    height: 100%
   
   
}


/* .card:hover{
    box-shadow: 0px 8px  rgba(252, 1, 1, 0.20);  
} */

/* .shadow-box-example {
   
    background-color: #64b5f6;
  } */

  .card:hover{
    box-shadow: 0 8px 20px -10px #615151;
    /* box-shadow: 0px 8px  rgba(252, 1, 1, 0.20);   */
  }