
.card{
    height: 20rem;
    padding: 5px;
    margin-bottom: 40px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.cardImage {
    height: 20rem;
    
}

.shadow-box-example {
    background-color: #1A576B;
  }