

.card{
    height: 20rem;
    padding: 5px;
    margin-bottom: 20px;
    border: 0px;
   
}

.Image {
    height: 100%
}

  .card:hover{
    box-shadow: 0 8px 20px -10px #615151;
  }

  title{
      color: white;
  }